<template>
  <div id="interfaces_page">

    <panel @devices="displayDevices" @displayInterfaces="setDisplayInterfaces" />

    <Interfaces v-if="isDisplayInterfaces" :devices="selectedDevices"></Interfaces>

    <AllDevices v-else></AllDevices>

  </div>
</template>
<script>
import { mapGetters } from "vuex";
import panel from "../components/panel_selectDevice";
import Interfaces from "../components/Interfaces";
import AllDevices from "../components/all_devices_viewer";
import { Promise } from "q";

export default {
  name: "DevicesVisual",
  components: {
    panel,
    AllDevices,
    Interfaces
  },
  data() {
    return {
      selectedDevices: [],
      isDisplayInterfaces: false
    };
  },
  created() {
    this.loadData();
    window.addEventListener("resize", this.setPageHeight);
  },
  mounted() {
    this.setPageHeight();
  },
  computed: {
    ...mapGetters(["readOnly"])
  },
  methods: {
    loadData() {
      let promises = [];
      promises.push(this.$store.dispatch("getDevices"));
      return Promise.all(promises);
    },
    displayDevices(devices) {
      this.selectedDevices = devices;
    },
    setPageHeight() {
      let page = document.getElementById("interfaces_page");

      page.style.minHeight = document.documentElement.clientHeight + "px";
    },
    setDisplayInterfaces(isDisplayInterfaces) {
      this.isDisplayInterfaces = isDisplayInterfaces;
    }
  },
  watch: {
    selectedDevices(val) {}
  },
  destroyed() {
    window.removeEventListener("resize", this.setPageHeight);
  }
};
</script>
<style lang="scss">
$mainGray: rgb(245, 245, 245);

#interfaces_page {
  background-color: $mainGray;
  color: black;
  padding-bottom: 40px;
  box-sizing: border-box;

  .interfaces-field {
    display: flex;
    flex-wrap: wrap;
  }

  .interface-cont {
    position: relative;
    margin: 10px;
    transition: all 0.5s;
    list-style-type: none;
  }

  .interface {
    background-color: white;
    margin: 5px;
  }

  .status {
    margin: 0 !important;
    width: 10%;
    min-width: 150px;
    box-shadow: inset 0 0 7px #00000024;

    &.round {
      min-width: 20px;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid rgb(167, 167, 167);
    }
    &.rect {
      min-width: 20px;
      height: 20px;
      width: 20px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid rgb(167, 167, 167);
    }
  }
  .head {
    background-color: darken($color: $mainGray, $amount: 5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &.sub {
      background-color: unset;
      border-bottom: 1px solid $mainGray;
      padding-bottom: 4px;
      box-sizing: border-box;
    }
  }
  .btn {
    width: 100%;
  }
  .readOnly-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.3;
    z-index: 1000;
  }
  .answer {
    z-index: 1001;
  }

  .rel {
    position: relative;
  }
  .shadow {
    box-shadow: 0 0 14px #cacaca;
  }
  .border {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 6px;
  }
  .mg_t5 {
    margin-top: 5px;
  }
  .grow {
    flex-grow: 1;
  }
  .flex {
    display: flex;
    justify-content: space-between;

    &.col {
      flex-direction: column;
    }
    &.unjust {
      justify-content: unset;
    }
    &.start {
      justify-content: flex-start;
    }
    &.end {
      justify-content: flex-end;
    }
    &.center {
      justify-content: center;
      align-items: center;
    }
    &.wrap {
      flex-wrap: wrap;
    }

    & > div {
      margin: 5px;
    }

    &.no_mg > div {
      margin: 0;
    }

    & span + span {
      margin-left: 6px;
    }

    & > .w50 {
      width: 50%;
      margin: 0 !important;
      padding: 5px;
      box-sizing: border-box;
    }
  }
}
</style>
