<template>
    <div id="devices-panel-cont">

        <DevicesFilter />

        <ul id="devices-panel-inherit" >
            <li class="device-cell" v-for="device in devices" :key="device.id">
                <div class="device-cont">

                    <div class="status flex center" :style="{ backgroundColor: device.statusColor }">
                        <span>Статус: {{device.colorName}}</span>
                    </div>

                    <div class="name-box">
                        <div class="name">{{device.name}}</div> 
                    </div>
                    
                </div>
            </li>
        </ul>

    </div>
</template>
<script>
import { mapGetters } from "vuex";
import DevicesFilter from './filter';

export default {
  name: "devicesPanel",
  components: {
      DevicesFilter
  },
  data() {
    return {
        devicesReloadTimer: undefined
    };
  },
  mounted() {
      //this.reloadDevices(); для обновления статусов устройств
  },
  computed: {
    ...mapGetters(["devices"])
  },
  methods: {
      reloadDevices() {
          this.devicesReloadTimer = setTimeout(() => { 
              this.getDevices().catch(()=>{ return; });
              this.reloadDevices();
          }, 1000);
          this.$once('hook:beforeDestroy', () => { clearTimeout(this.devicesReloadTimer) } );
      },
      getDevices() {
          return this.$store.dispatch("getDevices");
      }
  },
  watch: {}
};
</script>
<style lang="scss" scoped>
$border-gray: rgb(167, 167, 167);
#devices-panel-cont {
    padding: 30px 50px;

    #devices-panel-inherit {
        display: flex;
        flex-wrap: wrap;
        padding: unset;

        .device-cell {
            position: relative;
            width: 25%;
            padding: 10px;
            box-sizing: border-box;
            min-width: 400px;
            max-width: 550px;
            list-style-type: none;

            .device-cont {
                display: flex;
                align-items: stretch;
                overflow: hidden;
                min-height: 30px;
                border: 1px solid $border-gray;
                border-radius: 8px;
                box-shadow: -4px 4px 15px #0000001c;

                .status {
                    min-width: 160px;
                    height: auto;
                }

                .name-box {
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5px;
                }

                .name {
                    
                    
                }
            }
        }
    }
}
</style>

