<template>
    <div id="devices-filter-cont">
        <el-input  placeholder="Фильтр" v-model="input"></el-input>
    </div>
</template>

<script>
export default {
    data () {
        return {
            input: ''
        }
    },
    watch: {
        input(str) {
            this.$store.commit('setFilter', str);
        }
    }
}
</script>

<style lang="scss" scoped>
#devices-filter-cont {
    width: 20%;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
}
</style>