<template>
    <transition-group class="interfaces-field" name="list" tag="ul">
        <li class="interface-cont" v-for="(dev) in selectedDevices" :key="dev.name">
            <MPS v-if="isThatDev(dev, 'mps')" :deviceObj="dev" >
            <template v-slot:history-slot="{ slotData }">
                <History :slotData="slotData"></History>
            </template>
            </MPS>

            <MN32s v-if="isThatDev(dev, 'mt16')"   :deviceObj="dev">
            <template v-slot:history-slot="{ slotData }">
                <History :slotData="slotData"></History>
            </template>
            </MN32s>

            <IDR  v-if="isThatDev(dev, 'idr')" :deviceObj="dev">
            <template v-slot:history-slot="{ slotData }">
                <History :slotData="slotData"></History>
            </template>
            </IDR>
        </li>
    </transition-group>
</template>
<script>
import { mapGetters } from "vuex";
import History from "./requests_history";

import MPS from "./devices/mps.vue";
import MN32s from "./devices/mn32s.vue";
import IDR from "./devices/idr.vue";
import { Promise } from "q";

export default {
  name: "interface",
  props: {
    devices: Array
  },
  components: {
    History,
    MPS,
    MN32s,
    IDR
  },
  data() {
    return {
    };
  },
  mounted() {},
  computed: {
      selectedDevices() {
          return this.devices;
      }
  },
  methods: {
    isThatDev(device, devname) {
      return device.deviceName.toLowerCase().includes(devname);
    }
  },
  watch: {
      selectedDevices(val) {}
  },
  destroyed() {}
};
</script>
<style lang="scss">
.el-input-number.nano {
  width: 50px;
  input {
    padding-left: 1px;
    padding-right: 30px;
  }
}

.list-leave-active {
  position: absolute;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: scaleY(0.1);
}
.el-select .el-input--suffix .el-input__inner {
  min-height: 35px;
}
</style>
