<template>
    <div class="selectDev-cont">

      <div class="switch-block">
        <span>Показать все устройства</span>
        <span><el-switch v-model="isDisplayInterfaces"></el-switch></span> 
        <span>Отображать интерфейсы</span>
      </div>

      <el-select v-model="selectedDevices" placeholder="Выберете устройства" class="w50"
          multiple
          filterable
          default-first-option
          @change="emitDevicesChange()">
          <el-option
              v-for="item in devices"
              :key="item.name"
              :value="item.name"
              :label="item.name">
          </el-option>
      </el-select>
      
    </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "home",
  components: {},
  data() {
    return {
      selectedDevices: [],
      isDisplayInterfaces: false,
    };
  },
  mounted() {},
  computed: {
    selectedDevicesObjs() {
      let arr = [];
      for (let i = 0; i < this.selectedDevices.length; i++) {
        var devicename = this.selectedDevices[i];
        var obj = this.devices.find(item => {
          return item.name == devicename;
        });

        if (obj != undefined) arr.push(obj);
      }
      return arr;
    },
    ...mapGetters(["devices"])
  },
  methods: {
    emitDevicesChange() {
      this.$emit("devices", this.selectedDevicesObjs);
    }
  },
  watch: {
    isDisplayInterfaces(val) {
      this.$emit('displayInterfaces', val);
    }
  }
};
</script>
<style lang="scss" scoped>
.selectDev-cont {
  background-color: #99a7bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 0 30px #0000003d;

  .w50.el-select {
    width: 50%;
  }
}
.switch-block {
  height: fit-content;
  color: aliceblue;
  margin-right: 5px;
  font-size: 1.1rem;
  margin-right: 10px;

  span + span {
    margin-left: 5px;
  }
}
</style>
