<template>
    <div class="history-cont flex col" v-if="history.length > 0">
        <div class="flex end">
            <div>
                <el-button type="danger" @click="clearHistory()">Очистить историю</el-button>
             </div>
        </div>

        <div>
            <div class="history-textarea" :id="getId()">
                <div class="flex col">
                    <div class="row" v-for="msg in history" :key="msg.id">
                        {{msg.time}}: {{msg.command}}: {{msg.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: "history",
  props: {
    slotData: Object
  },
  data() {
    return {
      history: [],
      maxLength: undefined,
      counter: 0
    };
  },
  mounted() {
//console.log(this, this.slotData);
  },
  computed: {
    device() {
      if (this.slotData) return this.slotData.device;
    },
    message() {
      if (this.slotData) return this.slotData.message;
    },
    command() {
      if (this.slotData) return this.slotData.command;
    },
    pushMsg() {
      if (this.slotData) return this.slotData.pushMsg;
    }
  },
  methods: {
    getId() {
      return `history-scroll-${this.device.id}`;
    },
    pushMessage() {
      var time = this.getCurrentTime();
      var msg = this.message;
      var command = this.command;

      this.history.push({
        id: this.counter++,
        time: time,
        command: command,
        message: msg
      });
    },
    clearHistory() {
      this.history = [];
    },
    getCurrentTime() {
      let date = new Date();
      /* let day = date.getUTCDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();*/

      let h = date.getHours();
      let m = date.getMinutes();
      let s = date.getSeconds();
      // let ms = date.getMilliseconds();

      return `${h}:${m}:${s}`; //${day}-${month}-${year}  .${ms}
    },
    scrollBottom() {
      var container = document.getElementById(this.getId());
      var scrollHeight = Math.max(
        container.scrollHeight,
        container.clientHeight
      );
      container.scrollTo(0, container.scrollHeight);
    }
  },
  watch: {
    pushMsg(val) {
      //console.log(val);
      if (val) {
        this.pushMessage();
        this.$nextTick(this.scrollBottom);
      }
    },
/*     command(val) {
      console.log(val);
    },
    message(val) {
      console.log(val);
    } */
  }
};
</script>

<style lang="scss" scoped>
.history-textarea {
  max-height: 150px;
  overflow: scroll;
  text-align: left;
}
</style>

