<template>
    <div class="idr-cont interface border shadow" v-if="device != undefined">
      <div v-if="readOnly" class="readOnly-block"></div>

        <div class="flex head">
            <div><b>{{device.name}}</b></div>
            <div class="status flex center" :style="{backgroundColor: device.statusColor}"><span>{{device.colorName}}</span></div>
        </div>

        <div class="flex">
            <div class="flex col">
                <div class="flex col border no_mg" >
                    <div class="head sub">
                    УСТАНОВКА ПАРАМЕТРОВ
                    </div>

                    <div class="flex wrap">
                        <div class="flex col center ">
                            <div>Канал №</div>
                            <div>Помеха/ФОИ</div>
                            <div>tимп[мс]</div>
                        </div>

                        <div v-for="(item, i) in channels" :key="i" class="flex col center">
                            <div>{{item.index}}</div>
                            <div><el-switch @change="setPulseStatus(item.index, item)" v-model="item.state"></el-switch></div>
                            <!-- <div class="status rect" :style="{ backgroundColor: getChannelIndicatorColor(item.status) }"></div> -->
                            <div><el-input-number @change="setPulseDuration($event, item)" v-model="item.impulsTime" controls-position="right"
                            :min="1" :step="1"  :max="10" size="mini" class="nano"></el-input-number></div>
                        </div>

                        <div class="flex col center">
                            <div>Все</div>
                            <div><el-switch @change="setAllStatuses" v-model="allChannelsState"></el-switch></div>
                            <div><el-input-number @change="setPulseDuration" v-model="allImpulsTime" controls-position="right"
                            :min="1" :step="1"  :max="10" size="mini" class="nano"></el-input-number></div>
                        </div>
                    </div>

<!--                     <div class="flex center">
                        <div><el-button @click="setAllChannels()" class="btn" type="primary">Подключение выходов каналов</el-button></div>
                    </div> -->

                    <div class="flex center">
<!--                         <div class="flex col">
                            <div>ИПкрейта</div>
                            <div class="status round" :style="{ backgroundColor: getChannelIndicatorColor(creytStatus) }"></div>
                        </div>

                        <div class="flex col">
                            <div>ИП1 ВКЛ.</div>
                            <div class="status round" :style="{ backgroundColor: getChannelIndicatorColor(ip1OnStatus) }"></div>
                        </div> -->

                        <div class="flex col">
                            <div>Амплитуда, В</div>
                            <el-input-number v-model="amplitude" controls-position="right"
                            :min="0.1" :step="0.1"  :max="24" size="mini"></el-input-number>
                        </div>

<!--                         <div class="flex col">
                            <div>ИПвнешн.</div>
                            <div class="status round" :style="{ backgroundColor: getChannelIndicatorColor(ipOutStatus) }"></div>
                        </div>

                        <div class="flex col">
                            <div>ИП2 ВКЛ.</div>
                            <div class="status round" :style="{ backgroundColor: getChannelIndicatorColor(ip2OnStatus) }"></div>
                        </div> -->
                    </div>

 <!--                    <div class="flex center">
                        <div><el-button @click="setAmplitude()" class="btn" type="primary">Установка амплитуды</el-button></div>
                    </div> -->
                </div>

                <div class="flex col border" >
                    <div class="head sub">
                    ФОРМИРОВАНИЕ ИМПУЛЬСОВ
                    </div>

                    <div class="flex">
                        <div class="flex col center">
                            <div>Channel</div>
                            <div></div>
                            <div></div>
                        </div>

                        <div v-for="(item, i) in channels" :key="i" class="flex col center">
                            <div>{{item.index}}</div>
                            <div class="status rect" :style="{ backgroundColor: getChannelIndicatorColor(item.overLoad) }"></div>
                            <div><el-checkbox v-model="item.on"></el-checkbox></div>
                        </div>

                        <div class="flex col center">
                            <div>All</div>
                            <div></div>
                            <div><el-checkbox @change="setAllStatuses" v-model="allChannelsOn"></el-checkbox></div>
                        </div>
                    </div>

                    <div class="flex center">
                        <div><el-button @click="startPulse()" class="btn" type="primary">Зпуск ОИ</el-button></div>
                    </div>

                    <!-- <div class="flex center">
                        <div><el-button @click="setAmplitude()" class="btn" type="warning">Отключить ИП</el-button></div>
                    </div> -->
                </div>
            </div>

            <div class="flex col start">
<!--                 <div class="flex">
                    <div>Готов</div>
                    <div class="status round"></div>
                </div> -->
                <div>
                    <el-button @click="selfTest()" class="btn" type="primary">Самоконтроль</el-button>
                </div>

                <div>
                    <el-button @click="reset()" class="btn" type="warning">Сброс</el-button>
                </div>
            </div>
        </div>

        <!-- history div -->
        <div class="answer">
          <slot name="history-slot" 
          :slotData="{
            message: message, 
            command: command, 
            pushMsg: isReqLoaded, 
            device: device  
          }">{{answer}}</slot>
        </div>
        <!-- /history div -->
    </div>
</template>
<script>
import {DeviceMixin} from "./mixin_device.js";

export default {
  mixins: [ DeviceMixin ],
  name: "devMps",
  props: {
    deviceObj: Object
  },
  components: {},
  data() {
    return {
      allImpulsTime: 5,
      amplitude: 1,
      creytStatus: 0,
      ip1OnStatus: 0,
      ipOutStatus: 0,
      ip2OnStatus: 0,
      allChannelsOn: false,
      allChannelsState: false,

      channelsCount: 16,
      channelParams: {
        index: 0,
        impulsTime: 5,
        overLoad: false,
        state: false,
        on: false
      },
      channels: []
    };
  },
  mounted() {},
  computed: {
    device() {
      return this.deviceObj;
    }
  },
  methods: {
    setChannelsParams(params) {
      let chanel = params.channel - 1;
/*       this.chanels[chanel].res = params.resistance;
      this.chanels[chanel].cur = params.current;
      this.chanels[chanel].curBool = params.isCurrentOnChannel;
      this.chanels[chanel].state = params.channelState; */
    },
    getChannelIndicatorColor(status) {
      let index = status ? 1 : 2;
      return this.deviceObj.getColorByIndex(index)[0];
    },
    setDeviceConfig() {
      this.getPulsesState();
      this.getPulseDuration();
      this.getPulseAmpl();
      this.getPulsesStatus();
    },
    /* -----------------------SERVER COMMANDS-------------------------------- */
    //--------------------------- получить Состояние подключения каждого канала 1..12 0(ФОИ)/1(Помеха)
    getPulsesState() {
      this.sendCommand("GETSTATCHANNELS").then(res => {
        let arr = res.data.response.pulse;
        for (let i in this.channels) {
          this.channels[i].impulsTime = arr[i];
        }
      });
    },
    getPulseDuration() {
      //------------------------------------------ получить t имп
      this.sendCommand("GETPULSEDURATION").then(res => {
        let arr = res.data.response.pulse;
        for (let i in this.channels) {
          this.channels[i].impulsTime = arr[i];
        }
      });
    },
    setPulseDuration(val, channel) {
      //------------------------------ задать t имп
      console.log(channel);
      var channel = channel ? channel.index : 0;
      var dur = val * 0.001;
      let params = {
        channel: channel,
        duration: dur
      };
      this.sendCommand("SETPULSEDURATION", params);
    },
    getPulseAmpl() {
      //--------------------------------------------- получить амплитуду
      this.sendCommand("GETPULSEAMPL").then(res => {
        let ampl = res.data.response.ampl;
        this.amplitude = ampl;
      });
    },
    setPulseAmpl() {
      //--------------------------------------------- задать амплитуду
      let params = {
        ampl: this.amplitude
      };
      this.sendCommand("SETPULSEAMPL", params);
    },
    getPulsesStatus() {
      //------------------------------------------ получить статусы каналов: признак формирования ОИ
      this.sendCommand("GETPULSESTATUS").then(res => {
        let arr = res.data.response.channelsState;
        for (let i in this.channels) {
          this.channels[i].state = arr[i];
        }
      });
    },
    setPulseStatus(index, channel) {
      //-------------------------------------- задать статус канала: помеха/ФОИ
      var str = "";
      /*       for (let i in this.channels) {
        str += this.channels[i].index + ":" + (this.channels[i].state ? 1 : 0);
        if (i < this.channels.length - 1) str += "/";
      } */
      str += channel.index + ":" + (channel.on ? 1 : 0);
      let params = {
        channels: str
      };
      this.sendCommand("SETCHANNELS", params);
    },
    setAllStatuses(val) {
      //---------------------------------------- задать одинаковые статусы всем каналам
      for (let i in this.channels) {
        this.channels[i].on = val;
      }
      let params = {
        outstat: val
      };
      this.sendCommand("SETALLCHANNELS", outstat);
    },
    startPulse() {
      //--------------------------------------------- запуск ОИ
      var arr = this.channels
        .filter(item => {
          return item.on;
        })
        .map(item => {
          return item.index;
        });
      let params = {
        channels: arr.toString()
      };
      this.sendCommand("STARTPULSE", params);
    },
    selfTest(chanelIndex) {
      this.sendCommand("SELFTEST");
    },
    reset(chanelIndex) {
      this.sendCommand("RESETDEFAULT");
    }
  },
  watch: {
    allImpulsTime(val) {
      this.channels.map(item => {
        item.impulsTime = val;
      });
    },
    allChannelsOn(val) {
      this.channels.map(item => {
        item.on = val;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.idr-cont {
  max-width: 900px;
}
</style>
