<template>
    <div class="mps32s-cont interface border shadow" v-if="device != undefined">
      <div v-if="readOnly" class="readOnly-block"></div>

        <div class="flex head">
            <div><b>{{device.name}}</b></div>
            <div class="status flex center" :style="{backgroundColor: device.statusColor}"><span>{{device.colorName}}</span></div>
        </div>

        <div class="flex start">
            <div class="flex col border">
                <div><el-button @click="start()" class="btn" type="primary">Запуск</el-button></div>
                <div><el-button @click="stop()" class="btn" type="warning">Останов</el-button></div>
            </div>

            <div class="flex center border">
                <div><el-button @click="getOnce()" class="btn" type="primary">Одиночное<br>измерение</el-button></div>
            </div>

            <div class="flex col center border">
                <div>Реле</div>
                <div>
                    <span>Выкл.</span>
                    <span><el-switch @change="setSwitch()" v-model="switchOn"></el-switch></span> 
                    <span>Вкл.</span> 
                </div>
            </div>            
            
            <div class="flex border">
                <div class="flex col">
                    <div><el-button @click="selfTest()" class="btn" type="primary">Самоконтроль</el-button></div>
                    <div><el-button @click="calibration()" class="btn" type="primary">Калибровка<br>диапазона</el-button></div>
                </div>

                <div class="flex center">
                    <div><el-button @click="reset()" class="btn" type="warning">Сброс</el-button></div>
                </div>
            </div>

            <div class="flex col center border">
                <div>Кофигурация</div>
                <div>
                    <el-button @click="setConfig()" class="btn" type="primary">Установить</el-button>
                </div>
            </div>
        </div>

        <div class="flex">
            <div class="leftpanel flex col start border">
                <div>Режим</div>
                <div>
                    <el-select v-model="mod" placeholder="Режим" @change="setMode()">
                      <el-option
                        v-for="item in mods"
                        :key="item.index"
                        :label="item.name"
                        :value="item.index">
                      </el-option>
                    </el-select>
                </div>

                <div>Размер блока</div>
                <div>
                    <el-input-number v-model="blockSize" @change="setBlockSize()" @focus="focus('block')" @blur="blur()" 
                    controls-position="right" :disabled="true"
                    :min="10" :step="10"  :max="1000" size="mini"></el-input-number>
                </div>

                <div>Диапазон</div>
                <div>
                  <el-select v-model="range" placeholder="Диапазон" @change="setResistanceRange()">
                      <el-option
                        v-for="item in ranges"
                        :key="item.index"
                        :label="item.value"
                        :value="item.index">
                      </el-option>
                    </el-select>
                </div>

<!--                 <div>Период семплирования, с</div>
                <div>
                    <el-input-number v-model="period" @change="setPeriod()" controls-position="right" 
                    :min="0.000001" :step="0.000001"  :max="0.0001" size="mini"></el-input-number>
                </div>

                <div>Время интегрирования, с</div>
                <div>
                    <el-input-number v-model="time" @change="setTime()" controls-position="right" 
                    :min="0.000001" :step="0.000001"  :max="0.00001" size="mini"></el-input-number>
                </div> -->

                
                <el-checkbox v-model="allChannels">Все каналы</el-checkbox>

                <div class="flex wrap">
                    <div v-for="(channel, i) in channels" :key="i" @change="setChannels()">
                        <el-checkbox v-model="channel.on" >{{channel.index}}</el-checkbox>
                    </div>
                </div>
            </div>

            <div class="flex grow col no_mg charts-cont">
                <div class="flex unjust border grow" v-for="(item) in charts" :key="item.properties.id">
                    <div class="flex grow rel">
                        <canvas :id="item.properties.id" class="chart" width="400" height="150" ></canvas> 
                    </div>
                    

                   <div class="rightpanel flex col border" :class="{ hide: !item.properties.isRightPanelOpen }"><!--  -->
                        <div class="flex col start">
                            <div>Каналы</div>

                            <div>
                                <el-select v-model="item.properties.channels" placeholder="Каналы"
                                multiple
                                filterable
                                default-first-option
                                @change="item.updateData()">
                                    <el-option
                                    v-for="ch in channels"
                                    :key="ch.index"
                                    :label="ch.index"
                                    :value="ch.index">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>

                        <div>
                          <el-button type="danger" @click="deleteChart(item)" icon="el-icon-delete" circle></el-button>
                        </div>
                       
                        <div>
                            <el-button @click="item.properties.isRightPanelOpen = !item.properties.isRightPanelOpen" 
                            class="btn" type="primary">{{item.properties.isRightPanelOpen ? "<" : ">"}}</el-button>
                        </div>
                        
                    </div>
                </div>

                <div>
                  <el-button type="primary" @click="addChart()" circle style="width: 40px;">+</el-button>
                </div>
            </div>
        </div>

        <!-- history div -->
        <div class="answer">
          <slot name="history-slot" 
          :slotData="{
            message: message, 
            command: command, 
            pushMsg: isReqLoaded, 
            device: device  
          }">{{answer}}</slot>
        </div>
        <!-- /history div -->
    </div>
</template>
<script>
import { Chart } from "../../common/chart.js";
import { DeviceMixin } from "./mixin_device.js";

export default {
  mixins: [DeviceMixin],
  name: "devMps",
  props: {
    deviceObj: Object
  },
  components: {},
  data() {
    return {
      isOn: false,
      switchOn: false,
      mod: 2,
      mods: [
        { index: 0, name: "Одинарный" },
        { index: 1, name: "Блочный" },
        { index: 2, name: "Непрерывный" }
      ],
      range: undefined,
      ranges: [
        { index: 1, value: "250 Ом" },
        { index: 2, value: "500 Ом" },
        { index: 3, value: "1 кОМ" },
        { index: 4, value: "2 кОм" },
        { index: 5, value: "5 кОм" },
        { index: 6, value: "10 кОм" }
      ],
      blockSize: 100,
      /* period: 0.000063,
      time: 0, */
      allChannels: false,

      channelsCount: 16,
      channelParams: {
        index: 1,
        on: false,
        res: []
      },
      channels: [],
      loadDataTimer: 0,

      charts: [],
      chartsCounter: 0,
      chartsDrawTimeout: undefined
    };
  },
  mounted: function() {
    this.createCharts(2);
  },
  computed: {
    device() {
      return this.deviceObj;
    }
  },
  methods: {
    getParams() {}, //rewrite function from mixin
    setupChannels() {
      //rewrite function from mixin
      for (let i = 1; i <= this.channelsCount; i++) {
        this.channels.push(Object.assign({}, this.channelParams));
        this.channels[i - 1].index = i;
      }
    },
    getCanvasId() {
      return `chart-mn32s-${this.device.name}-${this.chartsCounter++}`;
    },
    createCharts(count) {
      for (let i = 0; i < count; i++) {
        this.addChart();
      }
      this.$nextTick(() => {
        this.draw();
      });
    },
    addChart() {
      var id = this.getCanvasId();
      let ch = new Chart(id);
      this.charts.push(ch);
      this.$nextTick(() => {
        ch.setup();
      });
    },
    deleteChart(chart) {
      let index = this.charts.indexOf(chart);
      if (index != -1) this.charts.splice(index, 1);
    },
    draw() {
      this.chartsDrawTimeout = setTimeout(() => {
        this.draw();
      }, 40);
      this.$once("hook:beforeDestroy", () => {
        clearTimeout(this.chartsDrawTimeout);
      });

      for (let i = 0; i < this.charts.length; i++) {
        this.charts[i].redraw();
      }
    },
    setChannelsParams(params) {
      /*       if(!params.channel) return;
      let chanel = params.channel - 1; */
      //if(this.focused != 'block') this.channels[chanel].blockSize = params.blockSize;
    },
    start() {
      //this.sendCommand("START");
      this.getOnce();
      this.loadDataTimer = setTimeout(() => {
        this.start();
      }, 1000);
      this.$once('hook:beforeDestroy', () => { clearTimeout(this.loadDataTimer) } );
    },
    stop() {
      clearTimeout(this.loadDataTimer)
      //this.sendCommand("STOP");
    },
    getOnce() {
      this.mod = 0;
      var arr = this.channels
        .filter(item => {
          return item.on;
        })
        .map(item => {
          return item.index; //index starts from 1
        });
      let params = {
        sequence1: arr
      };
      this.sendCommand("GETONCE", params).then(res => {
        let arr = JSON.parse(res).data1;
        this.pushDataToCharts(arr);
      });
    },
    setSwitch() {
      let params = {
        state: this.switchOn ? 1 : 0
      };
      this.sendCommand("SETRELAY", params);
    },
    calibration() {
      this.sendCommand("CALIBR");
    },
    setConfig() {
      this.sendCommand("SETCONFIG");
    },
    setMod() {
      let params = {
        mode: this.mod
      };
      if (this.mod > 0) params.size = this.blockSize;
      this.sendCommand("SETMODE", params);
    },
    setResistanceRange() {
      let params = {
        ampl: this.range
      };
      this.sendCommand("SETAMPLIFICATION", params);
    },
    selfTest(chanelIndex) {
      this.sendCommand("SELFTEST");
    },
    reset(chanelIndex) {
      this.sendCommand("RESET");
    },
    setChannels() {
      var arr = this.channels
        .filter(item => {
          return item.on;
        })
        .map(item => {
          return item.index;
        });
      let params = {
        sequence1: arr
      };
      this.sendCommand("SETSEQUENCE", params);
    },
    pushDataToCharts(resistances) {
      var channelsOn = this.channels.filter(item => {
        return item.on == true;
      });
      
      for (let i in channelsOn) {
        let channel = channelsOn[i];

        for (let j in this.charts) {
          let chart = this.charts[j];

          if (!chart.properties.channels.includes(channel.index)) continue;

          chart.pushValue([{ value: resistances[i], label: channel }]);
        }
      }
    }
  },
  watch: {
    allChannels(val) {
      if (val) {
        this.channels.map(item => {
          item.on = true;
        });
      } else {
        this.channels.map(item => {
          item.on = false;
        });
      }
      this.setChannels();
    }
  }
};
</script>
<style lang="scss" scoped>
.mps32s-cont {
  width: 900px;
  .leftpanel {
    width: 150px;
  }

  .chart {
    top: 0;
    left: 0;
    position: absolute;
  }

  .charts-cont {
    & > div {
      min-height: 150px;
    }
    & > div:last-child {
      min-height: unset;
    }
    & > div + div {
      margin-top: 5px !important;
    }
  }

  .rightpanel {
    position: relative;
    width: 170px;
    transition: all 0.2s;
    overflow: hidden;

    &.hide {
      & > div:first-child {
        display: none !important;
      }
      & > div:last-child {
        margin-top: auto !important;
      }
      width: 60px;
    }
  }
}
</style>
