<template>
    <div :id="getDeviceId()" class="mps-cont interface border shadow" v-if="device != undefined" >
      <div v-if="readOnly" class="readOnly-block"></div>

        <div class="flex head">
            <div><b>{{device.name}}</b></div>
            <div class="status flex center" :style="{backgroundColor: device.statusColor}"><span>{{device.colorName}}</span></div>
        </div>

        <div class="flex">
            <div class="flex col border" v-for="(item, i) in channels" :key="i">
                <div class="head sub">
                  <div>Канал {{i+1}}</div>

                  <div class="flex center mg_t5">
                    <span>Выкл.</span>
                    <span><el-switch @change="setState(i)" v-model="item.state"></el-switch></span>
                    <span>Вкл.</span> 
                  </div>
                </div>

                <div>Сопротивление</div>
                <div>
                  <el-input-number v-model="item.res" @focus="focus('res')" @blur="blur()" @change="setResistance(i)" controls-position="right" :min="10" :max="1000" :step="5" size="mini"></el-input-number>
                </div>
    
                <div>Запитать током?</div>
                <div>
                    <span>Нет</span>
                    <span><el-switch @change="useCurrent(i)" v-model="item.curBool"></el-switch></span> 
                    <span>Да</span> 
                </div>
                <el-input-number v-model="item.cur" @focus="focus('cur')" @blur="blur()" @change="setCurrent(i)" controls-position="right" :min="0.1" :step="0.01"  :max="3" size="mini"></el-input-number>
            </div>
        </div>

        <div class="flex">
          <div class="w50">
            <el-button @click="selfTest()" class="btn" type="primary">Самоконтроль</el-button>
          </div>

          <div class="w50">
            <el-button @click="reset()" class="btn" type="warning">Сброс</el-button>
          </div>
        </div>

        <!-- history div -->
        <div class="answer">
          <slot name="history-slot" 
          :slotData="{
            message: message, 
            command: command, 
            pushMsg: isReqLoaded, 
            device: device  
          }">{{answer}}</slot>
        </div>
        <!-- /history div -->
    </div>
</template>
<script>
import { DeviceMixin } from "./mixin_device.js";

export default {
  mixins: [DeviceMixin], //обязательно
  name: "devMps",
  props: {
    deviceObj: Object
  },
  data() {
    return {
      channelsCount: 2,
      channelParams: {
        res: 0,
        cur: 0,
        curBool: false,
        state: false
      },
      channels: [],
      timeout: undefined
    };
  },
  mounted() {},
  computed: {
    device() {
      return this.deviceObj;
    }
  },
  methods: {
    setChannelsParams(params) {
      if(!params.channel) return;
      let chanel = params.channel - 1;
      if(this.focused != 'res') this.channels[chanel].res = params.resistance;
      if(this.focused != 'cur') this.channels[chanel].cur = params.current;
      this.channels[chanel].curBool = params.isCurrentOnChannel == 1;
      this.channels[chanel].state = params.channelState == 1;
    },
    setState(chanelIndex) {
      let params = {
        channel: chanelIndex + 1,
        state: this.channels[chanelIndex].state
      };
      this.sendCommand("SETCHANNELSTATE", params);
    },
    setResistance(chanelIndex) {
      let params = {
        channel: chanelIndex + 1,
        resistance: this.channels[chanelIndex].res
      };
      this.sendCommand("SETRES", params);
    },
    useCurrent(chanelIndex) {
      let params = {
        channel: chanelIndex + 1,
        enable: this.channels[chanelIndex].curBool
      };
      this.sendCommand("SETPOW", params);
    },
    setCurrent(chanelIndex) {
      let params = {
        channel: chanelIndex + 1,
        current: this.channels[chanelIndex].cur
      };
      this.sendCommand("SETCUR", params);
    },
    selfTest(chanelIndex) {
      this.sendCommand("SELFTEST");
    },
    reset(chanelIndex) {
      this.sendCommand("RESET");
    }
  },
  watch: {},
  beforeDestroy() {
    clearTimeout(this.timeout);
  }
};
</script>
<style lang="scss" scoped>
.mps-cont {
  max-width: 350px;
}
</style>
